* {
  margin: 0%;
  padding: 0%;
}

.textTittle {
  color: #33658a;
  padding: 2% 0%;
  font-size: 30px;
}
.textSubTittle {
  color: #33658a;
  padding: 2% 6%;
  font-size: 20px;
}

header {
  box-shadow: 0px 0px 3px 3px rgba(236, 236, 236, 0.685);
  position: fixed;
  background-color: var(--cor001);
  z-index: 1000;
  display: flex;
  justify-content: space-evenly;
  top: 0%;
  width: 100vw;
  height: 65px;
}

#img-logoPequena {
  display: flex;
  margin: 0.5% 0%;
}

#img-logoPequena img {
  max-width: 125px;
  height: auto;
}

#cabecalho {
  display: flex;
  align-items: center;
}

#credenciais {
  display: flex;
  align-items: center;
}

.btn-header {
  z-index: 1;
  text-decoration: none;
  color: black;
}

#block-geralHome {
  z-index: 1;
  position: relative;
  top: -57px;
  background-color: aqua;
}

#home {
  margin-top: 5%;
}

#logo {
  display: flex;
  justify-content: center;
}

#img-logo {
  max-width: 400px;
  min-width: 150px;
  margin: 5%;
}

#agroRural {
  width: 60%;
  padding: 2%;
}

#ideia {
  width: 60%;
  position: relative;
  left: 40%;
  padding: 2%;
}

#objetivo {
  width: 60%;
  padding: 2%;
}

#instituicao {
  max-width: 100%;
  margin: 2% 0%;
}

#textInstituicao {
  text-align: left;
}

#img-instituicao img {
  width: 500px;
}

#orientador {
  margin: auto 0;
}

#orientador h2 {
  text-align: center;
  position: relative;
  top: 30px;
}

#img-sobreOrientador {
  width: 150px;
  border-style: groove;
  border-color: #3f7eae;
  border-radius: 50%;
  position: relative;
  left: 50px;
  background-image: linear-gradient(75deg, #163c56, #3f7eae, #17354d);
}

#sobreOrientador {
  position: relative;
  left: 210px;
  top: -115px;
}

.conjunto {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sobre-nos {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
}

.sobre {
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex: 2 2 200px;
  z-index: 1;
  text-align: center;
}

.imgSobre {
  display: flex;
  justify-content: center;
  width: 145px;
  height: 145px;
  margin: 5% auto;
  border-radius: 50%;
  background-image: linear-gradient(75deg, #163c56, #3f7eae, #17354d);
}

.img-sobre {
  width: 150px;
  border-radius: 50%;
  border-color: #3f7eae;
  border-style: groove;
}

#imgfooter {
  display: flex;
  position: relative;
}

#imgfooter img {
  width: 100vw;
}

#imgMeio {
  position: absolute;
  top: 680px;
  z-index: 1;
}

#imgMeio img {
  width: 100vw;
}

#imgMeio1 {
  position: absolute;
  top: 430px;
  right: 40px;
}

#imgMeio1 img {
  width: 500px;
}

#imgMeio2 {
  position: absolute;
  top: 460px;
  left: 50px;
}

#imgMeio2 img {
  width: 100%;
}

.text-CheckBox {
  display: flex;
  align-items: center;
  margin: 1%;
}
