* {
  margin: 0%;
  padding: 0%;
}

#logoPequena img {
  width: 300px;
  margin: 6%;
}

#logoPequena {
  display: flex;
  justify-content: center;
}

#login-TelaLogin {
  background-color: var(--cor0101);
  max-width: 410px;
  height: 470px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  box-shadow: 4px 4px 4px 4px rgba(236, 236, 236, 0.685);
}

#form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#input {
  width: 300px;
  height: 20px;
  margin: 1%;
}

#btnLogin {
  width: 200px;
  height: 40px;
  border-radius: 25px;
  background-image: linear-gradient(75deg, var(--cor055), var(--cor005));
  color: aliceblue;
  justify-content: center;
}

span {
  text-align: center;
}

span a {
  color: #33658a;
  text-decoration: none;
  margin: 0% 1%;
}

#Footer {
  position: absolute;
  bottom: 0%;
  z-index: 1;
}

#Vaca1 {
  position: absolute;
  right: 5%;
  top: 45%;
  background-color: antiquewhite;
}

#Vaca2 {
  position: absolute;
  left: 2%;
  top: 35%;
  background-color: aquamarine;
}

#Footer img {
  position: absolute;
  bottom: 0%;
  max-width: 100vw;
}

#Vaca1 img {
  max-width: 400px;
}

#Vaca2 img {
  max-width: 500px;
}
