.register {
  height: 70vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register div {
  margin-top: 10px;
}

.register_submit {
  margin-top: 30px !important;
}

* {
  margin: 0%;
  padding: 0%;
}

#form-Register {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: -6%;
}

#logoPequena img {
  width: 300px;
  margin: 6%;
  margin-top: 1%;
}

#logoPequena {
  display: flex;
  justify-content: center;
}

#login {
  background-color: var(--cor0101);
  box-shadow: 4px 4px 4px 4px rgba(236, 236, 236, 0.685);
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 400px;
  max-height: 950px;
  margin-top: -43.5%;
  z-index: 1;
  border-radius: 10px;
}

.showPassword-Register {
  position: absolute;
  top: 18px;
  right: 10px;
}

#btnRegistrar {
  width: 200px;
  height: 40px;
  border-radius: 25px;
  background-image: linear-gradient(75deg, var(--cor055), var(--cor005));
  color: aliceblue;
  top: 10px;
}

span {
  text-align: center;
}

span a {
  color: #33658a;
  text-decoration: none;
}

#imgFooter {
  position: absolute;
  top: 61.5%;
}

#imgFooter img {
  width: 100%;
}

#imgVaca1 {
  position: absolute;
  top: 36%;
  left: 70px;
  z-index: -1;
}

#imgVaca1 img {
  width: 350px;
  margin-left: 15%;
  margin-top: 11%;
}

#imgVaca2-Register img {
  width: 250px;
  margin-left: 75%;
  margin-top: 22%;
}
