.register {
  height: 70vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register div {
  margin-top: 10px;
}

.register_submit {
  margin-top: 30px !important;
}

* {
  margin: 0%;
  padding: 0%;
}

#logoPequena img {
  width: 300px;
  margin: 6%;
}

#logoPequena {
  display: flex;
  justify-content: center;
}

#login {
  background-color: var(--cor0101);
  box-shadow: 4px 4px 4px 4px rgba(236, 236, 236, 0.685);
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 400px;
  max-height: 950px;
  margin-top: 5%;
  z-index: 1;
  border-radius: 10px;
}

button {
  width: 100px;
  height: 30px;
  margin: 3% 34%;
  border-radius: 10px;
  background-color: #33658a;
  color: aliceblue;
}

span {
  text-align: center;
}

span a {
  color: #33658a;
  text-decoration: none;
}

#imgFooter {
  position: absolute;
  top: 61.5%;
}

#imgFooter img {
  width: 100%;
}

#imgVaca1 {
  position: absolute;
  top: 36%;
  left: 70px;
  z-index: -1;
}

#imgVaca1 img {
  width: 100%;
}

#imgVaca2 {
  position: absolute;
  top: 39%;
  z-index: -1;
  left: 1200px;
}

#imgVaca2 img {
  width: 80%;
}
