#Block-ResetPassword {
  display: flex;
  align-items: center;
  background-color: var(--cor0101);
  max-width: 410px;
  height: 470px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  flex-direction: column;
  border-radius: 25px;
  box-shadow: 4px 4px 4px 4px rgba(236, 236, 236, 0.685);
  padding: 2%;
  z-index: 1;
}

#Txt-ForgotPassword {
  text-align: center;
  height: 80px;
  color: var(--cor005);
  margin-top: 7%;
}
#Txt-ResetPw {
  color: var(--cor003);
  text-align: center;
  font-weight: lighter;
  width: 350px;
  margin-top: -12%;
}

#btn-ResetPassword {
  width: 200px;
  height: 38px;
  margin: auto;
  margin-top: 2%;
  border-radius: 20px;
  background-image: linear-gradient(75deg, var(--cor055), var(--cor005));
}

#link-VoltarResetPw {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  color: black;
  text-decoration: none;
}
#link-VoltarResetPw:hover {
  color: var(--cor005);
}

#ModalBlocoGeral {
  background-color: white;
  border-radius: 10px;
  max-width: 50%;
  margin: auto;
  padding: 1%;
  display: flex;
  flex-direction: column;
}
#ModalBlocoText {
  max-width: 70%;
  margin: 0% 6%;
}

#ModalBlocoButton {
  display: flex;
  justify-content: center;
  margin: 4%;
}

#btnModal {
  background-color: rgba(0, 128, 0, 0.815);
  text-align: right;
}
