
#Block-Txt-CattleEditVaccine{
    background: var(--cor001);
    padding: 0px 10px 0px 0px;
    font-size: 23px;
    color: var(--cor005);
    width: 350px;
}
#Block-LineEditVacine{
    width: 100%;
    text-align: start;
    background-color: var(--cor007);
    height: 3px;
    line-height: 0.1em;
    margin: 0px 0 0px;
    padding: 0px;
}
#Block-InputEditVacine{
    margin-top: 2%;
}
#Block-TypeVaccine-EditVaccine{
    margin-top: 12%;
    margin-left: -5%;
    display: flex;
}
#TypeVaccine-EditVaccine{
    width: 150px;
    height: 150px;
    border-radius: 12px;
    margin: -2% 3% 0% 1%;
    text-align: center;
    box-shadow: 0px 0px 6px 2px var(--cor111);
}
#Block-CalfImage-EditVaccine{
    display: flex;
    justify-content: end;
    margin: 17.3% 80% -2% 0%;
}
#Block-CowImage-EditVaccine{
    display: flex;
    justify-content: flex-end;
    margin: -20.3% 45% 0% 5%;  
}
#btn-SaveCancel-EditVacine{
    display: flex;
    justify-content: flex-end;
    margin: -7% -5% 0% 0%;
    position: relative;

    }