#blocoGeral-viewCatlle {
  position: relative;
  width: 100%;
  max-height: 550px;
  margin: 3%;
  border-radius: 8px;
  box-shadow: 0px 0px 6px 2px var(--cor111);
}

#blocoTitulo-criacao-viewCatlle {
  width: 72vw;
  display: flex;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

#blocoTituloTxt-criacao-viewCatlle {
  color: var(--cor005);
  background-color: var(--cor001);
  width: auto;
  padding-right: 10px;
  left: 0;
  z-index: 1;
  margin-left: 3%;
}

#blocoTituloLine-criacao-viewCatlle {
  background-color: var(--cor007);
  position: absolute;
  width: 80%;
  height: 3px;
  right: 0;
  margin-right: 5%;
}

#blocoTitulo-vacina-viewCatlle {
  width: 72vw;
  display: flex;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 1%;
}

#blocoTituloTxt-vacina-viewCatlle {
  color: var(--cor005);
  background-color: var(--cor001);
  width: auto;
  padding-right: 10px;
  left: 0;
  z-index: 1;
  margin-left: 3%;
}

#blocoTituloLine-vacina-viewCatlle {
  background-color: var(--cor007);
  position: absolute;
  width: 80%;
  height: 3px;
  right: 0;
  margin-right: 5%;
}

#infoGado-viewCatlle {
  margin-right: 6%;
}

#blocoVacinas-viewCatlle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0% 2.5%;
}

#vacinas-viewCatlle {
  width: 150px;
  height: 150px;
  border-radius: 12px;
  margin: 1%;
  text-align: center;
  background-color: var(--cor0101);
  box-shadow: 0px 0px 4px 4px var(--cor111);
}

#button-viewCatlle {
  display: flex;
  justify-content: flex-end;
  margin: 0% 3%;
}

#icone-imprimir-viewCatlle {
  background-color: var(--cor007);
  position: absolute;
  right: 30px;
  bottom: -25px;
}

#formularioDadosAnimal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left:-2%;
}

#formularioDadosVacina {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gridInputVaccine {
  margin: 0.4%;
}

#inputPesoVaccine {
  width: 170px;
}

#inputDataNascimentoVaccine {
  width: 122px;
}

#inputQtdCriaVaccine {
  width: 100px;
}

#inputTipoVaccine {
  width: 180px;
}

#inputSexoVaccine {
  width: 110px;
}

@media (max-width: 800px) {
  #blocoGeral-viewCatlle {
    margin-top: 15%;
  }

  #icone-imprimir-viewCatlle {
    display: none;
  }

  #formularioDadosAnimal {
    flex-wrap: wrap;
  }

  #formularioDadosVacina {
    flex-wrap: wrap;
  }

  #button-viewCatlle {
    display: none;
  }

  .gridInputVaccine {
    margin: 0.6%;
  }

  #inputDataNascimentoVaccine {
    width: 160px;
  }

  #inputQtdCriaVaccine {
    width: 170px;
  }

  #inputTipoVaccine {
    width: 180px;
  }

  #inputSexoVaccine {
    width: 180px;
  }
}
