#MainBlock-CreateCattleForm {
  background-color: var(--cor001);
  width: 1100px;
  height: 500px;
  margin: 3% auto;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 2px var(--cor111);
  padding-bottom: 5%;
  position: relative;
}

#CattleForm {
  margin: auto;
  margin-top: 0%;
  width: 1045px;
  height: 400px;
}

#Block-CowImage-Form {
  position: absolute;
  bottom: -7px;
  left: 80px;
}

#Block-CalfImage-Form {
  position: absolute;
  right: 80px;
  bottom: 50px;
}
#CowImage-Form {
  width: 350px;
}
#CalfImage-Form {
  width: 160px;
}
#Btns-SaveCancel-Form {
  height: 60px;
  position: absolute;
  bottom: 0;
  right: 30px;
}
