#CattleForm{
  margin: auto;
  margin-top: 0%;
  width: 1025px;
  height: 400px;
}
#Block-CowImage-Form {
  display: flex;
  justify-content: start;
  margin-right: 10%;
  margin-top: 10%;
  margin-left: -10%;
  z-index: -1;
}
#CowImage-Form{
  width: 350px;
  height: 220px;
  position: relative;
  margin-left: 30%;
}
#Block-CalfImage-Form {
  display: flex;
  justify-content: end;
  margin-top: 14%;
}
#CalfImage-Form {
  width: 160px;
  height: 140px;
  position: relative;
  margin-right: -290%;
}
#Btns-SaveCancel-Form {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  height: 220px;
  margin-top: 8%;
  margin-left:38%;
}

