#blocoGeral-viewCatlle {
  position: relative;
  width: 100%;
  max-height: 550px;
  margin: 3%;
  border-radius: 8px;
  box-shadow: 0px 0px 6px 2px var(--cor111);
}

#blocoTitulo-criacao-viewCatlle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1100px;
  height: 90px;
}

#blocoTituloTxt-criacao-viewCatlle {
  color: var(--cor005);
  padding: 10px 10px;
  margin-right: 5%;
  font-size: 22px;
  background-color: var(--cor001);
  position: relative;
}

#blocoTituloLine-criacao-viewCatlle {
  background-color: #fad400;
  display: flex;
  height: 3px;
  width: 76%;
  margin-top: 8px;
  margin-right: 5px;
  margin-left: -180px;
}

#blocoTitulo-vacina-viewCatlle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1100px;
  height: 90px;
}

#blocoTituloTxt-vacina-viewCatlle {
  color: var(--cor005);
  padding: 10px 10px;
  margin-right: 9%;
  width: 25%;
  font-size: 22px;
}

#blocoTituloLine-vacina-viewCatlle {
  background-color: #fad400;
  display: flex;
  height: 3px;
  width: 76%;
  margin-top: 8px;
  margin-left: -240px;
}

#infoGado-viewCatlle {
  margin-right: 6%;
}

#blocoVacinas-viewCatlle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0% 2.5%;
}

#vacinas-viewCatlle {
  width: 150px;
  height: 150px;
  border-radius: 12px;
  margin: 1%;
  text-align: center;
  background-color: var(--cor0101);
  box-shadow: 0px 0px 4px 4px var(--cor111);
}

#button-viewCatlle {
  display: flex;
  justify-content: flex-end;
  margin: 0% 3%;
}

#icone-imprimir-viewCatlle {
  background-color: var(--cor007);
  position: relative;
  left: 720px;
  bottom: 25px;
}
