#MainBlock-CreateCattleForm{
  background-color: var(--cor001);
  width: 1100px;
  height: 500px;
  margin: auto;
  margin-top: 3%;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 2px var(--cor111);
  padding-bottom: 5%;
  margin-bottom: 2%;
}
#CattleForm{
  margin: auto;
  margin-top: 0%;
  width: 1040px;
  height: 400px;
}
#Block-CowImage-Form {
  display: flex;
  justify-content: end;
  position: absolute;
  top: 62%;
  left: 45%;
}
#CowImage-Form{
  width: 350px;
  height: 200px;
  position: absolute;
  top: 90%;
 
}
#Block-CalfImage-Form {
  display: flex;
  justify-content: end;
  position: absolute;
  top:62.5%;
  left: 85%;
}
#CalfImage-Form {
  width: 160px;
  height: 140px;
  position: absolute;
}
#Btns-SaveCancel-Form {
  height: 60px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  position: absolute;
  right: 12%;
  top: 80%;
}

