#MainBlockCattleList {
  background-color: var(--cor0101);
  width: 1200px;
  height: 530px;
  margin: auto;
  margin-top: 3%;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 2px var(--cor111);
}

#Block-Txt-Line-List {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  margin: auto;
  height: 90px;
}

#Block-Txt-List {
  color: var(--cor005);
  padding: 10px 10px;
  font-size: 22px;
  background-color: var(--cor0101);
  z-index: 1;
}

#Block-Line-List {
  background-color: var(--cor007);
  display: flex;
  height: 3px;
  width: 98%;
  margin-top: 8px;
  margin-right: -10px;
  margin-left: -200px;
}

#iconsList {
  position: relative;
  left: 1010px;
  top: -28px;
}

#AddIcon {
  background-color: var(--cor001);
}

#table-MinhaCriacao {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  margin-top: -90px;
}

#btn-ViewAnimalData {
  background-color: var(--cor006);
  margin: 8px;
  padding-top: 7px;
}

#btn-ViewVaccine {
  padding-top: 7px;
}

#btn-EditAnimalData {
  background-color: var(--cor007);
  margin: 8px;
  padding-top: 7px;
}

#btn-DeleteAnimal {
  padding-top: 7px;
}

#bloco-modal {
  border-radius: 10px;
  padding: 1%;
}

#bloco-modal span {
  color: #33658a;
  font-size: 20px;
}

#btn-modalCancel {
  background-color: red;
  color: white;
}

#btn-modalDelet {
  background-color: green;
  color: white;
}

#btn-modalCancel:hover {
  background-color: rgb(253, 69, 69);
}

#btn-modalDelet:hover {
  background-color: rgb(75, 134, 75);
}

#bloco-modal-AnimalDeath {
  font-size: 20px;
  color: var(--cor005);
}
