#blocoGeral-infoGado {
  width: 80%;
  margin: 2% auto;
  position: relative;
  border-radius: 8px;
  box-shadow: 0px 0px 6px 2px var(--cor111);
  background-color: var(--cor001);
}

#blocoTitulo-criacao-infoGado {
  display: flex;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 1%;
}

#blocoTituloTxt-criacao-infoGado {
  color: var(--cor005);
  background-color: var(--cor001);
  width: auto;
  padding-right: 10px;
  left: 0;
  z-index: 1;
  margin-left: 3%;
}

#blocoTituloLine-criacao-infoGado {
  background-color: var(--cor007);
  position: absolute;
  width: 80%;
  height: 3px;
  right: 0;
  margin-right: 5%;
}

#icone-imprimir {
  background-color: var(--cor007);
  position: absolute;
  right: 30px;
  bottom: -25px;
}

#formularioAnimalView {
  display: flex;
  flex-direction: row;
  margin-left: 1.6%;
}

#blocoTitulo-vacina-infoGado {
  width: 72vw;
  display: flex;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 1%;
}

#blocoTituloTxt-vacina-infoGado {
  color: var(--cor005);
  background-color: var(--cor001);
  width: auto;
  padding-right: 10px;
  left: 0;
  z-index: 1;
  margin-left: 3%;
}

#blocoTituloLine-vacina-infoGado {
  background-color: var(--cor007);
  position: absolute;
  width: 80%;
  height: 3px;
  right: 0;
  margin-right: 5%;
}

#infoGado {
  padding: 1%;
}

#blocoVacinas {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0% 2.5%;
  flex-wrap: wrap;
}
#Card {
  margin: 0.8%;
  min-width: 160px;
  height: 170px;
  box-shadow: 1px 1px 5px 2px var(--cor033);
  border: 1px solid var(--cor033);
}
#vaccineIcons-InfoGado {
  display: flex;
  justify-content: center;
  height: 60px;
  margin-top: 10%;
}
#vacinas {
  margin: 0.8%;
  min-width: 160px;
  height: 170px;
  box-shadow: 1px 1px 5px 2px var(--cor033);
  border: 1px solid var(--cor033);
}
#cardNameInfoGado {
  width: 100%;
  margin: auto;
  margin-top: 7%;
  text-align: center;
  color: var(--cor001);
  background-color: var(--cor005);
  padding: 8px 8px;
}
#button {
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: 3%;
  bottom: 20px;
}
.gridInput {
  margin: 0.4%;
}
#inputPeso {
  width: 160px;
}
#inputDataNascimento {
  width: 119px;
}
#inputQtdCria {
  width: 100px;
}
#inputTipo {
  width: 110px;
}

@media (max-width: 800px) {
  
  #blocoGeral-infoGado {
    margin-top: 12%;
    padding-bottom: 20px;
  }
  #formularioAnimalView {
    display: flex;
    flex-wrap: wrap;
  }
  #button,
  #icone-imprimir {
    display: none;
  }
  .gridInput {
    margin: 1%;
  }
  #inputPeso {
    width: 85px;
  }
  #inputDataNascimento {
    width: 150px;
  }
  #inputQtdCria {
    width: 150px;
  }
  #inputTipo {
    width: 151px;
  }
}
