#blocoGeral-infoGado {
  position: absolute;
  width: 1100px;
  top: 15%;
  border-radius: 8px;
  box-shadow: 0px 0px 6px 2px var(--cor111);
  background-color: var(--cor001);
  padding-bottom: 5%;
}

#blocoTitulo-criacao-infoGado {
  width: 72vw;
  display: flex;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 1%;
}

#blocoTituloTxt-criacao-infoGado {
  color: var(--cor005);
  background-color: var(--cor001);
  width: auto;
  padding-right: 10px;
  left: 0;
  z-index: 1;
  margin-left: 3%;
}

#blocoTituloLine-criacao-infoGado {
  background-color: var(--cor007);
  position: absolute;
  width: 80%;
  height: 4px;
  right: 0;
  margin-right: 5%;
}

#icone-imprimir {
  background-color: var(--cor007);
  position: absolute;
  right: 30px;
  bottom: -25px;
}

#blocoTitulo-vacina-infoGado {
  width: 72vw;
  display: flex;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 1%;
}

#blocoTituloTxt-vacina-infoGado {
  color: var(--cor005);
  background-color: var(--cor001);
  width: auto;
  padding-right: 10px;
  left: 0;
  z-index: 1;
  margin-left: 3%;
}

#blocoTituloLine-vacina-infoGado {
  background-color: var(--cor007);
  position: absolute;
  width: 80%;
  height: 4px;
  right: 0;
  margin-right: 5%;
}

#infoGado {
  padding: 1%;
}

#blocoVacinas {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0% 2.5%;
  flex-wrap: wrap;
}

#Card {
  margin: 0.8%;
  min-width: 160px;
  height: 170px;
  box-shadow: 1px 1px 5px 2px var(--cor033);
  border: 1px solid var(--cor033);
}

#vaccineIcons-InfoGado {
  display: flex;
  justify-content: center;
  height: 60px;
  margin-top: 10%;
}

#vacinas {
  margin: 0.8%;
  min-width: 160px;
  height: 170px;
  box-shadow: 1px 1px 5px 2px var(--cor033);
  border: 1px solid var(--cor033);
}
#cardNameInfoGado {
  width: 100%;
  margin: auto;
  margin-top: 7%;
  text-align: center;
  color: var(--cor001);
  background-color: var(--cor005);
  padding: 8px 8px;
}

#button {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 3%;
}
