* {
  margin: 0%;
  padding: 0%;
}

#Bloco-GeralNotificacao {
  background-color: var(--cor001);
  padding-bottom: 4%;
  border-radius: 10px;
  margin: 3%;
  min-height: 520px;
  box-shadow: 0px 0px 6px 2px var(--cor111);
}
#Block-Txt-Notify {
  background: var(--cor001);
  padding: 0px 10px 0px 0px;
  font-size: 23px;
  color: var(--cor005);
  background-color: var(--cor001);
}
#Bloco-Notificacoes {
  width: 57%;
  margin: auto;
  height: 105px;
  display: flex;
  box-shadow: 2px 2px 4px 2px var(--cor111);
}

#color {
  background-color: var(--cor005);
  width: 35px;
  height: 105px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#color2 {
  background-color: var(--cor005);
  width: 35px;
  height: 105px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#text-notify-title {
  display: flex;
  justify-content: flex-start;
  margin: 0% 2%;
  color: var(--cor005);
  font-weight: bold;
}

#text-notify-title-Red {
  display: flex;
  justify-content: flex-start;
  margin: 0% 2%;
  color: var(--cor005);
  font-size: 18px;
  font-weight: bolder;
}

#text-notify {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2% 0% -2% 2%;
}

.Txt-NotifyVaccine {
  color: var(--cor008);
  font-weight: bold;
}
.Txts-Notify{
  color: var(--cor003);
  font-weight: normal;
}
#text-notify-dados {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#dados {
  margin: 1% 2%;
  display: flex;
  flex-direction: column;
  padding: 1%;
  align-items: flex-start;
  color: var(--cor003);
}
