#header {
  box-shadow: 0px 0px 5px 2px var(--cor111);
}

#logoPequena-header {
  display: flex;
  margin: 0.5% 0%;
}

#logoPequena-header img {
  max-width: 125px;
  height: auto;
}
#linkHeader:hover {
  border-bottom: 4px solid var(--cor006);
}
#linkHeader:focus {
  border-bottom: 4px solid var(--cor006);
}
.active {
  border-bottom: 4px solid var(--cor006);
}
#headerMin {
  display: none;
}

@media (max-width: 800px) {
  #header {
    display: none;
  }

  #headerMin {
    box-shadow: 0px 0px 3px 3px rgba(236, 236, 236, 0.685);
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    top: 0%;
    width: 100vw;
    height: 65px;
    margin-bottom: 5%;
    background-color: white;
    z-index: 1;
  }
}
