:root {
  --transparente: rgba(255, 255, 255, 0);
  --cor001: white;
  /* --cor111:rgb(236, 236, 236); */
  --cor111: rgba(236, 236, 236, 0.685);
  --cor011: rgba(245, 245, 245, 0.603);
  --cor002: rgb(211, 211, 211);
  --cor033: rgba(192, 192, 192, 0.651);
  --cor003: rgb(131, 131, 131);
  --cor004: rgb(85, 85, 85);
  --cor005: rgb(36, 100, 160);
  --cor055: rgb(119, 180, 236);
  --cor006: rgb(43, 156, 71);
  --cor007: #fad400;
  --cor009: rgb(189, 55, 37);
  --cor008: rgb(37, 37, 37);
}

.MainBlock {
  width: 1100px;
  margin: auto;
  margin-top: 2%;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 2px var(--cor111);
  padding: 1px;
  padding-bottom: 3%;
}
.Block-Txt-Line {
  height: 90px;
  display: flex;
  align-items: center;
  width: 93%;
  margin: auto;
}
.Block-Txt {
  background: var(--cor001);
  padding: 0px 10px 0px 0px;
  font-size: 23px;
  color: var(--cor005);
}
.Block-Line {
  width: 100%;
  text-align: start;
  background-color: var(--cor007);
  height: 3px;
  line-height: 0.1em;
  margin: 20px 0 20px;
  padding: 0px;
}
