#MainBlock-UpdateCattle {
  position: relative;
  width: 1100px;
  margin: 3% auto;
  border-radius: 8px;
  box-shadow: 0px 0px 6px 2px var(--cor111);
  background-color: var(--cor001);
}
#Block-Txt-Line-EditAnimalData {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1100px;
  height: 90px;
}
#Block-Txt-EditAnimalData {
  color: var(--cor005);
  padding: 10px 10px;
  margin-right: 5%;
  width: 44%;
  font-size: 22px;
}
#Block-Line-EditAnimalData {
  content: " ";
  background-color: var(--cor007);
  display: flex;
  height: 3px;
  width: 100%;
  margin-top: 8px;
  margin-right: 5px;
  margin-left: -60px;
}

#Block-EditAnimalData {
  width: 1042px;
  height: 400px;
  margin: auto;
}

#Block-CowImage-EditAnimalData {
  display: flex;
  justify-content: end;
  position: absolute;
  top: 59%;
  left: 45%;
}

#CowImage-EditAnimalData {
  width: 350px;
  height: 200px;
  position: absolute;
  top: 90%;
}

#Block-CalfImage-EditAnimalData {
  display: flex;
  justify-content: end;
  position: absolute;
  top: 59.5%;
  left: 93%;
}

#CalfImage-EditAnimalData {
  width: 160px;
  height: 140px;
  position: absolute;
}

#Btns-Update-Cancel-EditAnimalData {
  height: 60px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  position: absolute;
  right: 2%;
  top: 86%;
}
