#Block-Txt-Line-VaccineRegister {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1100px;
  height: 90px;
}
#Block-Txt-VaccineRegister {
  color: var(--cor005);
  padding: 10px 10px;
  margin-right: 5%;
  width: 125%;
  font-size: 22px;
}
#Block-Line-VaccineRegister {
  background-color: var(--cor007);
  display: flex;
  height: 3px;
  width: 100%;
  margin-top: 8px;
  margin-right: 5px;
  margin-left: -220px;
}
#Block-AnimalData {
  width: 1025px;
  height: 400px;
  margin: auto;
  padding: 1%;
  box-shadow: 2px 2px 4px 2px var(--cor111);
  border-radius: 8px;
}
#Block-VaccineIcons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 230px;
}
#FieldVaccineIcons {
  margin: 0px 30px;
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 12px;
  box-shadow: 0px 0px 4px 4px var(--cor111);
}
#FieldVirus {
  width: 150px;
  height: 150px;
  border-radius: 12px;
  border: none;
  box-shadow: 0px 0px 4px 4px var(--cor111);
}
#VacinaIcon-Txt {
  text-align: center;
}
#Block-CalfImage-CadastroVacina {
  display: flex;
  justify-content: end;
  margin-top: -20%;
}
#CalfImgae-CadastroVacina {
  width: 200px;
  margin-right: 3%;
  margin-top: 5%;
}
#Btns-Add-Cancel-CadastroVacina {
  display: flex;
  justify-content: end;
  margin-top: -1%;
}
