* {
  margin: 0%;
  padding: 0%;
}

#logoPequena img {
  width: 300px;
  margin: 6%;
}

#logoPequena {
  display: flex;
  justify-content: center;
}

#logi {
  background-color: rgba(238, 236, 236, 0.171);
  width: 400px;
  height: 420px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  box-shadow: 2px 2px 4px 4px var(--cor111);
}

#form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#input {
  width: 300px;
  height: 20px;
  margin: 1%;
}

button {
  width: 100px;
  height: 30px;
  margin: 3% 34%;
  border-radius: 10px;
  background-color: #33658a;
  color: aliceblue;
}

span {
  text-align: center;
}

span a {
  color: #33658a;
  text-decoration: none;
  margin: 0% 1%;
}

#imgFooter {
  position: absolute;
  top: 61.5%;
}

#imgFooter img {
  width: 100%;
}

#imgVaca1 {
  position: absolute;
  top: 40%;
  left: 70px;
  z-index: -1;
}

#imgVaca1 img {
  width: 100%;
}

#imgVaca2 {
  position: absolute;
  top: 39%;
  z-index: -1;
  left: 1000px;
}

#imgVaca2 img {
  width: 80%;
}
